body{
    margin: 0;
   font-family: 'Montserrat', sans-serif;
   font-size: 15px;
   line-height: 1.6;
   color: #333;
}
*,
*:before,
*:after{
    box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6{
    color: azure;
    margin: 0;
}




  /* container */

.container{
    width: 100%;
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
}

  /* intro */

.intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: url("../img/intro.jpg") 
    center
    no-repeat;
    -webkit-background-size:cover;
    background-size: cover;
    min-height: 820px;
    position: relative;
}

.intro__inner{
    width: 100%;
    max-width: 880px;
    margin: auto;
    text-align: center;
}

.intro__title{
    color:#fff;
    font-size: 150px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
}
.intro__title:after{
content: "";
display: block;
width: 60px;
height: 3px;
background-color:#fff;
margin:60px auto ;
}
.intro__suptitle{
    margin-bottom: 25px;
    font-family:'Kaushan Script', cursive;
    font-size: 72px;
    color: #fff;
   
}

/* Header */
.header{
    padding-top: 30px;
    width: 100%;
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    right:0;
    z-index:1000 ;
}

.header__inner{
    display:flex;
    justify-content: space-between;
}

.header__logo{
    font-size: 30px;
    font-weight: 700;
    color: #fff;
}

.header.fixed{
    padding: 10px 0;
    background-color:rgba(219, 148, 41, 0.8);
    box-shadow: 0 3px 10px rgb(0, 0, 0,0.2);
    position: fixed;
    top:0;
    right: 0;
    left: 0;
    transform: translate3d(0,0,0);
   
}
.header.active{
    background-color:rgba(219, 148, 41, 0.8);
}

/* nav */
.nav{
    font-size: 14px;
    text-transform: uppercase;

}
.nav__link{
    display:inline-block;
    vertical-align: top;
    margin: 10px;
    position: relative;
    color: #fff;
    text-decoration: none;
    transition:color .2s linear;
}

.nav__link:after{
    content: "";
    display:block;
    width: 100%;
    height: 3px;
    background-color:#fce38a;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    display: none;
}
.nav__link:hover{
    color:#fce38a;
}

.nav__link:hover:after,
.nav__link.active:after{
   opacity: 1;
}
.nav__link:after{
    color:#fce38a;
}

.nav-toggle{
    font-size: 0;
    color: transparent;
    border: 0;
    display:none;
    background: none;
    cursor: pointer;
    width: 30px;
    padding: 15px 0;
    position: absolute;
    top:20px;
    right: 20px;
    z-index: 1;
}

.nav-toggle:focus{
outline: 0;
}

.nav-toggle.active .nav-toggle__item{
background: none;
}
.nav-toggle.active .nav-toggle__item:before{
    transform-origin: left top;
    transform: rotate(45deg) translate3d(0px,-1px,0);
}
.nav-toggle.active .nav-toggle__item:after{
    transform-origin: left bottom;
    transform: rotate(-45deg) translate3d(-1px, 3px,0);
}

.nav-toggle__item{
width: 100%;
height: 3px;
background-color: #fff;
display: block;
position: absolute;
top: 0;
bottom: 0;
right: 0;
left: 0;
margin: auto;
transition:  background .2s linear;
}

.nav-toggle__item:before{
    top: -8px;
}
.nav-toggle__item:after{
    bottom: -8px;
}


.nav-toggle__item:before,
.nav-toggle__item:after{
content: "";
width: 100%;
height: 3px;
position: absolute;
background-color: #fff;
left: 0;
z-index: 1;
transition: transform .2s linear;
}

/* btn */
.btn{
    display: inline;
    vertical-align: top;
    padding: 8px 30px;
    border: 3px solid #fff;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    transition: background 0.5s linear,color 0.5s linear;
}
.btn:hover{
    background-color: #fff;
    color: #333;
}



/* Slider */
.slider{
    width: 100%;
position: absolute;
bottom: 0;
left: 0;
z-index: 1;
}

.slider__inner{
    text-align: center;
    display: flex;
    justify-content:space-between;
}

.slider__item{
width: 23%;
font-size: 18px;
color:#fff;
text-transform: uppercase;
padding:20px 0;
border-top:  3px solid #fff;
opacity: .7;
}

.slider__text{
    font-size: 0;
}

.slider__item:active{
    opacity: 1;
}

.slider__num{
    
    font-size: 24px;
    font-weight: 700px;
}

/* section */


.section{
    padding: 80px 0;
    overflow: hidden;
}

.section--devices{
    margin-bottom: 40px;
    padding-bottom: 0;
    background: url("../img/bg.jpg") 
    center no-repeat;
   
}


.section__header{   
    width: 100%;
    min-width: 950px;
    margin:0 auto 50px;
    text-align: center;
}

.section__suptitle{
font-family:'Kaushan Script', cursive;
font-size: 24px;
color:#333;
}

.section__title{
    font-size: 30px;
    font-weight: 700;
    color:#333;
    text-transform: uppercase;
}

.section__title:after{
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 40px auto;
    background-color:#f38181;
}

.section__text{
    font-size: 15px;
    color:#999;
}


/* card */

.card{
    margin:80px -15px 0;
    display:flex;
    flex-wrap: wrap;
    justify-content:space-between;

}

.card__inner{
    position: relative;
    background-color: #f4bd87;
    max-height: 458px;
}



.card__item{
    width: 33.33333%;
    padding:0 30px;
    
}

.card__item--a{
    width: 480px;
    padding:0 70px;
  
}

.card__item:hover .card_img {
    transform: translate3d(-15px, -15px,0);
}

.card__item:hover .card_img img{
    opacity: .4;
}

.card__item:hover .card__text{
    color:#fff;
    opacity: 1;
}

.card_img{
    background:linear-gradient(to bottom,#f38181,#fce38a);
    transition: transform .2s liner;
    }

.card_img img{
    display: flex;
    max-width: 100%;
    height: auto;
    transition: opacity .1s linear;
}

.card__text{
    width: 100%;
    font-size: 18px;
    color:#fff;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    opacity: 0;
    position:absolute;
    top: 50%;
    left: 0;
    z-index: 2;
    transform: translate3d(0,-50%,0);
    transition: opacity .2s linear;
}

.card__info{
    margin-top: 20px;
    text-align: center;
}

.card__name{
    margin-bottom: 5px;
    font-size: 14px;
    color: #333;
    text-transform: uppercase;
}

.card__pro{
    font-size:15px; 
    font-style: italic;
    font-weight: 300;
    color: #999;

}

/* statistics */

.statistics{
    background-color: #c9a99e;
}


.stat{
    display: flex;
    flex-wrap: wrap;
}

.stat__item{
    flex:1 1 0;
    padding: 70px 25px;
    border-left: 1px solid #fff;
    text-align: center;
    color:#fff;
}

.stat__item:last-child{
    border-right: 1px solid #fff;
}

.stat__count{
    margin-bottom: 10px;
    font-size: 72px;
    font-weight: 700;
    line-height: 1;
}


.stat__text{
    font-size: 14px;
    text-transform: uppercase;
}

/* services */

.services{
display: flex;
flex-wrap: wrap;
}

.services__item{
    width: 33.333333%;
    padding:0 35px 40px 85px;
    position: relative;
    margin-bottom: 40px;
  
}

services__item--border{
    border-bottom: 1px solid #e5e5e5;
}

.services__icon{
    margin-top: 10px;
    position:absolute;
    top: 0;
    left: 30px;
    z-index: 1;
}

.services__title{
   
    font-size: 15px;
    margin-top: 15px;
    margin-bottom: 10px;
    color: #333;
    text-transform: uppercase;
}

.services__text{
   
    font-size: 15px;
    color:#999;
}


/* devices */

.devices{
    
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    position: relative;
}

.devices__item{
    
    display: block;
    max-width: 100%;
    height: auto;
}

.devices__item--iphone{
    position: absolute;
    bottom: -20px;
    right: 0;
    z-index: 1;
}

/* wedo */

.wedo{
    display: flex;
    flex-wrap: wrap;
    margin:  0 -15px;
}

.wedo__img{
    display: block;
    min-width: 100%;
    height: auto;
}

.wedo__item{
  
    width: 50%;
    padding: 0 15px;
}

/* accordion */

.accordion__item{
    margin-bottom: 10px;
    
}

.accordion__item.active
.accordion__content{
display: block;
}

.accordion__item.active
.accordion__header{
    
    border-bottom-color   : #e5e5e5;
}

.accordion__item.active
.accordion__header:after{
    transform: translateY(-50%)  
    rotate(-45deg);
    margin-top: 5px;
}

.section--gray{
    background-color: #f8f8f8;
}

.accordion__header{
    padding: 15px 20px 15px 65px;
    position: relative;
    border-bottom: 1px solid
     #e5e5e5;
     border-top: 1px solid
     #e5e5e5;
     border-right: 1px solid
     #e5e5e5;
     border-left: 1px solid
     #e5e5e5;
     cursor: pointer;
     
}

.accordion__header:after{
content: "";
display: block;
width: 16px;
height: 16px;
border-top: 2px solid #cccc;
border-right: 2px solid #cccc;
position: absolute;
top:50%;
right: 20px;
transform: translateY(-50%)  
rotate(135deg);
z-index: 1;
}

.accordion__icon{
    position: absolute;
    top: 50%;
    left: 20px;
    z-index: 1;
    transform: translateY(-50%)
  
}

.accordion__content{
    padding: 15px 20px;
    font-size: 15px;
    color:#999;
    display: none;
    font-style: italic;
    font-weight: 300;
    border-bottom: 1px solid
    #e5e5e5;
    border-top: 1px solid
    #e5e5e5;
    border-right: 1px solid
     #e5e5e5;
    border-left: 1px solid
    #e5e5e5;
}

.accordion__title{
    font-size: 14px;
    color: #333;
    text-transform: uppercase;
    
}


/* reviews */

.reviews{
  
    position: relative;
}

.reviews .slick-slider{
    padding: 0 110px;
}
.reviews__item{
min-height: 210px;
padding-left: 230px;
position: relative;
}

.reviews__photo{
   
    display: block;
    width: 210px;
    height: 210px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.reviews__text{
    padding: 0 30px;
    margin-bottom: 15px;
    font-size: 24px;
    font-style: italic;
    font: weight 300;
    color: #999;
}

.reviews__author{
    padding: 0 30px;
    font-size: 24px;
    color: #333;
    font-family:'Kaushan Script', cursive;
}

.reviews__author:before{
    content: " ";
display: inline-block;
vertical-align: middle;
width: 60px;
height: 3px;
margin-right: 10px;
background-color: #f38181
}


.slick-arrow{
    display: block;
    font-size: 0;
    color: transparent;
    position: absolute;
    border: 0;
    cursor: pointer;
    background: none;
    top :50%;
    z-index: 1;
    transform: translateY(-50%);
}
.slick-arrow:focus{
    outline: 0;
}

.slick-arrow:after{
content: "";
display: block;
width: 16px;
height: 16px;
border-top: 2px solid #cccc;
border-left: 2px solid #cccc;
z-index: 1;
}


.slick-prev{
    left: 0;
    transform: rotate(-45deg);
}


.slick-next{
    right: 0;
    transform: rotate(135deg);
}

/* social */

.social{
    display: flex;
    justify-content: center;
}

.social__item{
    width: 55px;
    height: 55px;
    padding: 12px 10px;
    background-color:#fce38a;
    border-right: 1px solid#f38181;
    font-size: 30px;
    text-decoration: none;
    color: #f38181;
    line-height: 1;
    transition: background .1s linear , color .1s linear;
}

.social__item:last-child{
    border-right: 0;
}


.social__item:hover{
    color: #fff;
    background-color: #f38181;
}


/* works */

.works{
    display: flex;
}

.works__col{
    flex: 1 1 0;
}

.works__item{
    position: relative;
    background: linear-gradient(to bottom,#f38181,#fce38a)
}


.works__item:hover .works__img{
    opacity: .1;
}

.works__img{
    max-width: 100%;
    height: auto;
    display: block;
    transition: opacity .2s linear; 
}

.works__item:hover .works__info{
    opacity: 1;
}

.works__info{
    opacity: 0;
    width: 100%;
    text-align: center;
    color: #fff;
    padding: 0  15px;   
    position: absolute;
    top:50%;
    left: 0;
    z-index: 1;
    transform: translate3d(0, -50%,0);
    transition: opacity .2s linear;
}

.works__title{
    margin-bottom: 5px;
   
    font-size: 14px;
    text-transform: uppercase;
}

.works__text{
    font-size: 15px;
    font-weight: 300;
    font-style: italic;
}


/* footer */

.footer{
    padding-top: 65px;
    background-color: #f8f8f8;
}

.footer__social{
    margin-bottom: 25px;
}

.footer__inner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 -15px;
    padding-bottom: 65px;
}

.footer__title{
    line-height: 1.2;
    margin-top: 30px 0;
    text-transform: uppercase;
    color: #333;
    font-size: 14px;

}

.footer__logo{
    margin-bottom: 30px;
    color: #cccc;
    font-size: 46px;
    font-weight: 600;
}

.footer__text{
    margin-bottom: 30px;
    font-size: 15px;
    color: #999;
}

.footer__col{
    padding: 0 15px;
}

.footer__col--first{
    width: 40%;
}

.footer__col--second{
    width: 29%;
}

.footer__col--third{
    width: 22%;
}

.footer_social-header{
    padding-bottom: 15px;
    font-size: 14px;
    color: #333;
    border-bottom: 1px solid #e5e5e5 ;
}

.footer_social-header b{
    font-size: 18px;

}

.footer_social-content{
    padding-top: 15px;
    font-size: 15px;
    color: #999999;
    font-style: italic;
    font-weight: 300;
}

.footer_social-content a{
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    font-size: 18px;
    color: #95e1d3;
}

/* subscribe */

.subscribe{
    width: 100%;
    max-width: 380px;
    display: flex;
}


.subscribe__input{
    width: 60%;
    height: 40px;
    padding: 12px;
    font-family: 'Montserrat', sans-serif;
    background-color: #fff;
    border-right: 0;
    line-height: 1.1;
    border: 1px solid #e7e7e7;
    font-size: 15px;
    color: #333;
    font-style: italic;
    font-weight: 300;
}

.subscribe__input::placeholder{
    color: #cccc;
}

.subscribe__btn{
    width: 40%;
    height: 40px;
    padding: 12px 30px;
    background-color:#95e1d3;
    border: 0;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    transition: background .2s linear;
}


.subscribe__btn:hover{
    background-color:#78c2b4;
}


/* instagram  */

.instagram{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.instagram__item{
    width: 33%;
   border-bottom: 1px solid #fff;
}


.instagram__item img{
    max-width:100%;
    height: auto;
    display: block;
}

/* blogs */

.blogs__item{
    display: flex;
    margin-bottom: 30px ;
    align-items: center;

}

.blogs__img{
    width: 120px;
    height: 80px;
}

.blogs__content{
    padding-left: 20px;
}

.blogs__title{
    display: block;
    color: #333;
    margin-bottom: 5px;
    font-size: 12px;
    line-height: 1.4;
    text-transform: uppercase;
    text-decoration: none;
}


.blogs__title:hover{
    text-decoration: underline;
}

.blogs__date{
    font-size: 13px;
    color: #cccc;
    font-style: italic;
    font-weight: 300;
}

.copyright{
    padding: 20px 0;
    border-top: 1px solid  #e5e5e5;
    text-align: center;
    font-size: 14px;
    color: #333;
}

.copyright span{
    color: #f38181;
}


@media(max-width:1230px){

    /* intro */

   .slick-slider{
        padding: 0 65px;
    }

    .intro__suptitle{
        font-size: 52px;
    }

    .intro__title{
        font-size: 120px;
    }
   .reviews{
       font-size: 20px;
   }
}


@media(max-width:990px){

    /* intro */

    .intro__suptitle{
        font-size: 32px;
    }

    .intro__title{
        font-size: 80px;
    }

    .stat{
        justify-content: center;
    }

    .stat__item{
        flex: none;
        width: 33.33333%;
        padding-top: 30px;
        padding-bottom: 30px;
        border: 0;
       
    }
    .stat__item:last-child{
        border-right: 0;
    }


    .services__item{
        width: 55%;
    }
    .services__item--border{
        border-bottom: 0;
    }

     .slick-slider{
        padding: 0 65px;
    }

    .reviews__photo{
    width: 150px;
    height: 150px;
    }
    .reviews__item{
        padding-left: 175px;
    }
    .footer__col--first{
        width: 100%;
    }
    .footer__col--second,
    .footer__col--third{
        width: 50%;
    }
    .instagram{
        justify-content: flex-start;
    }
    .instagram__item{
        width: auto;
        border-right: 1px solid #f8f8f8;
    }
}




@media(max-width:650px){

    /* intro */


    .intro__suptitle{
        font-size: 22px;
    }

    .intro__title{
        font-size: 40px;
    }
}


@media(max-width:770px){

    .intro{
        min-height: 620px;
    }

    .nav{
        display: none;
        position: absolute;
        width: 100%;
        top: 100%;
        left: 0;
        background-color:rgba(219, 148, 41, 0.8);
    }
    .nav__link{
        display: block;
        margin: 0;
        padding: 5px 20px;
    }

    .nav.active{
    display: block;
    }
  

    .card{
        margin-top: 50px;
        justify-content: center;
    }

    .card__item{
        width: 100%;
        max-width: 410px;
        margin-bottom: 30px;
    }

    .card__item--a{
        width: 100%;
    }

    .section{
        padding: 40px 0; 
    }

    .slider__item.active:before{
        width: 50%;
    }
    
    .section--devices{
        padding-bottom: 0;
    }

    .slider__text{
        display: none;
    }
    .services__item{
        width: 100%;
        padding-left: 55px;
    }
    .services__icon{
        left: 0;
    }

    .wedo__img{
        display: none;
    }
    .wedo__item{
        width: 100%;
    }
    .reviews__photo{
        position: static;
        margin: 0 auto 20px;
    }
    .reviews__item{
        padding-left: 0;
    }
    .reviews__text{
        font-size: 16px;
    }
    .reviews__author{
        font-size: 20px;
    }

    .works{
        flex-wrap: wrap;
    }
    .works__col{
        flex: none; 
        width: 50%;
    }
    
    .nav-toggle{
        display: block;
    }
    
    .footer__col--second,
    .footer__col--third{
        width: 100%;
    }
    .header{
        padding: 10px 0;
    }
}


@media(max-width:575px){

    /* intro */


    .intro__suptitle{
        font-size: 22px;
    }

    .intro__title{
        font-size: 40px;
    }

    .section__header{
        margin-bottom: 50px;
    }

    .section__title{
        font-size: 24px;

    }
    .section__suptitle{
        font-size: 20px;
    }


    .section__title:after{
        margin: 20px 0;
    }


     .stat__item{
         width: 100%;
         border-bottom: 1px solid #f8f8f8;
     }
     .stat__count{
         font-size: 52px;
     }

     .devices{
         max-width: 320px;
     }
     .devices__item--iphone{
         width: 160px;
         right: -60px;
     }
      .slick-slider{
         padding:0;
     }
     
     .slick-arrow{
         top: 18%;
     }
     .works{
        flex-wrap: wrap;
    }
    .works__col{
        flex: none; 
        width: 100%;
    }
    .subscribe{
        flex-wrap: wrap;
        max-width: none;
    }
    .subscribe__input,.subscribe__btn{
        width: 100%;
    }
    .subscribe__input{
        margin-bottom: 10px;
        border-right: 1px solid #e7e7e7;
    }
    .blogs__img{
        width: 80px;
        height: 50px;
    }
    .blogs__title{
        font-size: 10px;
    }

   
}
